/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto');

* {
     font-family: 'Roboto', sans-serif;
     font-size: 1.1rem;
     color: #868687;
 }

h1 {
    font-family: 'Fjalla One';
    font-size: 4.5rem;
    text-align: center;
}

h2 {
    font-family: 'Fjalla One';
    font-size: 3.75rem;
    text-align: center;
    color: #faa431;
}

h3 {
    font-family: 'Fjalla One';
    font-size: 2.5rem;
    text-align: center;
    color: #faa431;
}

h4 {
    font-family: 'Fjalla One';
    font-size: 1rem;
    text-align: center;
    color: #faa431;
}

.tourist-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.experience-col {
    width: 200px;
    padding: 10px;
    margin-right: 20px;
}

.section-padding {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.create-section-background {
    background-color: #375a93;
    background-position: center;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 100%;
}

.white-h2-title {
    color: #ffffff;
}

.white-p-font {
    color: #ffffff;
}

.homepage-bridge-photo {
    margin: auto;
}

.welcome-text-orange {
    font-family: 'Fjalla One';
    font-size: 6.0rem;
    color: #faa431;
}

.welcome-text-blue {
    font-family: 'Fjalla One';
    font-size: 6.0rem;
    color: #375a93;
}

.center {
    text-align: center;
}

.card-title {
    font-family: 'Fjalla One';
    font-size: 2rem;
    text-align: center;
    color: #faa431;
}
