@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');

* {

     font-family: 'Open Sans', sans-serif;
     /* font-family: 'Roboto', sans-serif; */
     font-size: 1.07rem;
     color: #868687;
     letter-spacing: .05px;
 }

h1 {
    font-family: 'Fjalla One';
    font-size: 4.5rem;
    text-align: center;
    letter-spacing: -1px;
}

h2 {
    font-family: 'Fjalla One';
    font-size: 3.25rem;
    text-align: center;
    color: #f86726;
    letter-spacing: -1px;
}

h3 {
    font-family: 'Fjalla One';
    font-size: 2.5rem;
    text-align: center;
    color: #f86726;
    letter-spacing: -1px;
}

h4 {
    font-family: 'Fjalla One';
    font-size: 1rem;
    text-align: center;
    color: #f86726;
    letter-spacing: -1px;
}

h6 {
    font-size: 1.5rem;
    text-align: center;
}

.tourist-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.experience-col {
    padding: 10px;
    width: 100%;
    display: flex;
    min-width: 300px;
}

.section-padding {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.footer-padding {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-background-darkblue {
    background-color: #1b75bc;
    background-position: center;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 100%;
}

.section-background-lightblue {
    background-color: #42B5e8;
    background-position: center;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 100%;
    opacity: 50%;
}

.section-background-orange {
    background-color: #f86726;
    background-position: center;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 100%;
}

.footer-background {
    background-color: #f86726;
    background-position: center;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 100%;
}

.white-h2-title {
    color: #ffffff;
    letter-spacing: -1px;
}

.white-p-font {
    color: #ffffff;
    text-align: center;
}

.white-font {
    color: #ffffff;
    list-style-type: none;
}

.welcome-text-orange {
    font-family: 'Fjalla One';
    font-size: 6.0rem;
    color: #f86726;
    letter-spacing: -4px;
    line-height: 1.5rem;
}

.welcome-text-blue {
    font-family: 'Fjalla One';
    font-size: 6.0rem;
    color: #1b75bc;
    letter-spacing: -4px;
    line-height: 6rem;
}

.intinerary-text-blue {
    font-family: 'Fjalla One';
    font-size: 5.0rem;
    color: #1b75bc;
    letter-spacing: -4px;
    line-height: 6rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.center {
    text-align: center;
}

.card-title {
    font-family: 'Fjalla One';
    font-size: 1.65rem;
    text-align: center;
    color: #1b75bc;
    letter-spacing: -1px;
}

.button {
    margin: auto;
    background: #1b75bc;
    border-color: #1b75bc;
    width: 100%;
    font-size: 1.07rem;
}

.button:hover {
    background-color: #42B5e8;
    border-color: #42B5e8;
}

.create-button {
    margin: auto;
    background: #1b75bc;
    border-color: #1b75bc;
    padding: 8px 15px;
    display: block;
	text-align: center;
    font-size: 1.07rem;
}

.create-button:hover {
    background-color: #42B5e8;
    border-color: #42B5e8;
}

.submit-button {
    margin: auto;
    background: #1b75bc;
    border-color: #1b75bc;
    padding: 8px 15px;
    display: block;
	text-align: center;
    font-size: 1.07rem;
}

.submit-button:hover {
    background-color: #42B5e8;
    border-color: #42B5e8;
}

.back-button {
    margin: auto;
    background: #1b75bc;
    border-color: #1b75bc;
    padding: 8px 15px;
    display: block;
	text-align: center;
    font-size: 1.07rem;
}

.back-button:hover {
    background-color: #42B5e8;
    border-color: #42B5e8;
}

.med-button {
    margin: auto;
    background: #1b75bc;
    border-color: #1b75bc;
    padding: 8px 15px;
    display: flex;
    justify-content: center;
    font-size: 1.07rem;
}

.med-button:hover {
    background-color: #42B5e8;
    border-color: #42B5e8;
}

.logout-button {
    margin: auto;
    padding: 10px;
    background: #f86726;
    border-color: white;
    padding: 8px 15px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 1.07rem;
}

.logout-button:hover {
    color: white;
}

.card-text {
    text-align: center;
    line-height: 1.5rem;
}

 .light-blue-background {
     background-color: #bde4ff;
     background-position: center;
     padding-top: 80px;
     padding-bottom: 80px;
     height: 100%;
 }

 .light-blue-background-small {
     background-color: #bde4ff;
     background-position: center;
     padding-top: 20px;
     padding-bottom: 20px;
     height: 100%;
     margin: 0px;
     text-align: center;
 }

 .flex-container {
     margin: auto;
     padding: 10px;
     align-self: center;
 }

.responsive {
    width: 100%;
    height: auto;
}

/* DEVISE PAGES */

.field {
    text-align: center;
    padding: 10px;
    width: 100%;
}

.input-field {
    width: 400px;
    padding: 6px 10px;
}

.actions {
    text-align: center;
    padding: 10px;
}

.actions-button {
    margin: auto;
    background: #1b75bc;
    border-color: #1b75bc;
    color: white;
    padding: 10px 75px;
    border-radius: 5px;
}

.actions-button:hover {
    background-color: #42B5e8;
    border-color: #42B5e8;
}

.actions-links {
    text-align: center;
    padding: 10px;
}

.devise-links {
    color: #f86726;
}

.devise-links:hover {
    color: #1b75bc;
}

.line-break-spacing {
    content: "";
    margin: 2em;
    display: block;
    font-size: 10%;
}

.admin-button {
    margin: auto;
    background: #1b75bc;
    border-color: #1b75bc;
    color: white;
    width: 110%;
    min-width: 75px;
    border-radius: 5px;
}

.admin-button:hover {
    background-color: #42B5e8;
    border-color: #42B5e8;
}

.experience-label-font {
    font-family: 'Fjalla One';
    font-size: 1.8rem;
    text-align: center;
    color: #f86726;
}

.experience-label-font-white {
    font-family: 'Fjalla One';
    font-size: 1.8rem;
    color: white;
}

.itinerary-button-day {
    margin: auto;
    background: #f86726;
    border-color: #f86726;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
}

.itinerary-button-restaurant {
    margin: auto;
    background: #1b75bc;
    border-color: #1b75bc;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
}

.itinerary-button-night {
    margin: auto;
    background: #42B5e8;
    border-color: #42B5e8;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
}

.itinerary-button-new {
    margin: auto;
    background: #1b75bc;
    border-color: #1b75bc;
    padding: 8px 15px;
    font-size: 1.07rem;
}

.itinerary-button-new:hover {
    background-color: #42B5e8;
    border-color: #42B5e8;
}

/* MODAL Styling */

.modal-wrapper {
    background: white;
    border: 1px solid #d0cccc;
    margin: 150px auto 0;
    transition: all .8s;
    width: 75%;
}

.modal-header {
    background: #1b75bc;
    height: 50px;
    line-height: 40px;
    padding: 5px 20px;
    text-align: center;
    color: white;
}

.modal-header h3 {
    color: white;
    float: left;
    margin: 0;
    padding: 10px;
}

.modal-body {
    padding: 30px 30px;

}

.modal-footer {
    background: #1b75bc;
    height: 70px;
    padding: 15px;
}

.close-modal-btn {
    background:#f86726;
    color: white;
    float: right;
    font-size: 50px;
    margin: 0;
}

.close-modal-btn:hover {
    background-color: #bde4ff;
    color: gray;
}

.btn-cancel, .btn-continue {
    background: coral;
    border: none;
    color: white;
    font-weight: bold;
    outline: none;
    padding: 10px;
}

.btn-cancel {
    background-color: #b71c1c;
    float: left;
}

.btn-continue {
    background-color: #1b5e20;
    float: right;
}

.back-drop {
    background-color: rgba(48, 49, 48, 0.42);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
}

.open-modal-btn {
    margin: 15px;
    padding: 10px;
    font-weight: bold;
}
.save-button {
    background-color: #f86726;
    border-color: #f86726;
    color: white;
}
.save-button:hover {
    background-color: #42B5e8;
    border-color: #42B5e8;
    color: white;
}
.modal-title {
    color: white;
}

a:link {
  text-decoration: none;
}

.itinerary-image {
    width: 100%;
    padding-right: 20px;
}

.blue-wave-1 {
  background-image: url("paper.gif");
  background-repeat: round;
}

.blue-wave-3 {
  background-image: url("paper.gif");
  background-repeat: round;
}

.blue-wave-3 {
  background-image: url("paper.gif");
  background-repeat: round;
}

.orange-wave-1 {
  background-image: url("paper.gif");
  background-repeat: round;
}

.orange-wave-3 {
  background-image: url("paper.gif");
  background-repeat: round;
}

.orange-wave-3 {
  background-image: url("paper.gif");
  background-repeat: round;
}

.google-map {
    object-position: center;
}
