/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Roboto');

* {
     font-family: 'Roboto', sans-serif;
     font-size: 1.1rem;
     color: #868687;
     letter-spacing: -0.05px;
 }

h1 {
    font-family: 'Fjalla One';
    font-size: 4.5rem;
    text-align: center;
    letter-spacing: -1px;
}

h2 {
    font-family: 'Fjalla One';
    font-size: 3.25rem;
    text-align: center;
    color: #faa431;
    letter-spacing: -1px;
}

h3 {
    font-family: 'Fjalla One';
    font-size: 2.5rem;
    text-align: center;
    color: #faa431;
    letter-spacing: -1px;
}

h4 {
    font-family: 'Fjalla One';
    font-size: 1rem;
    text-align: center;
    color: #faa431;
    letter-spacing: -1px;
}

.tourist-image {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.experience-col {
    padding: 10px;
    width: 100%;
    display: flex;
    min-width: 300px;
}

.section-padding {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 80px;
    margin-bottom: 80px;
}

.footer-padding {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.create-section-background {
    background-color: #1b75bc;

    background-position: center;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 100%;
}

.footer-background {
    background-color: #faa431;
    background-position: center;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 100%;
}

.white-h2-title {
    color: #ffffff;
    letter-spacing: -1px;
}

.white-p-font {
    color: #ffffff;
    text-align: center;
}

.welcome-text-orange {
    font-family: 'Fjalla One';
    font-size: 6.0rem;
    color: #faa431;
    letter-spacing: -4px;
    line-height: 1.5rem;
}

.welcome-text-blue {
    font-family: 'Fjalla One';
    font-size: 6.0rem;
    color: #1b75bc;
    letter-spacing: -4px;
    line-height: 6rem;
}

.center {
    text-align: center;
}

.card-title {
    font-family: 'Fjalla One';
    font-size: 1.65rem;
    text-align: center;
    color: #1b75bc;
    letter-spacing: -1px;
}

.button {
    margin: auto;
    background: #1b75bc;
    border-color: #1b75bc;
    width: 100%;
}

.card-text {
    text-align: center;
    line-height: 1.5rem;
}
 .light-blue-background {
     background-color: #dbf0fc;
     background-position: center;
     padding-top: 80px;
     padding-bottom: 80px;
     height: 100%;
 }

 .flex-container {
     margin: auto;
     padding: 10px;
     align-self: center;
     /* display: flex;
     justify-content: space-around;
     flex-flow: row wrap;
     padding: 0px;
     margin: 0px;
     list-style: none;
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     -webkit-flex-flow: row wrap; */
 }

.responsive {
    width: 100%;
    height: auto;
}
